.logo-img {
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.name {
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 1px) {
  .name {
    margin-top: 30px;
    text-align: center;
    background-color: orange;
  }
}

@media screen and (min-width: 790px) {
  .name {
    margin-top: 30px;
    text-align: right;
    background-color: green;
  }
}

.center-img {
  margin: 30px;
  max-width: 100%;
  height: auto;
}

.dev-header{
  margin-left:30px;
}

.space-header{
  text-align: left;
}

.dev-img {
  width: 200px;
  margin-left:30px;
  margin-top: 30px;
}

.space-img {
  width: 330px;
  margin-top: 30px;
}

.robot-img {
  width: 160px;
  margin-top: 30px;
  margin-right: 50px;
}
